<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci Minha Senha - Doação de Sangue</title> 
    <link rel="stylesheet" href="../assets/style.css"> 
</head>
<body>
    <header id="cabecalho">
        <div class="logo">
            <img src="../assets/img/gota-de-sangue.png" class="gota-de-sangue">
            <span class="nome-site">Doe Sangue Já</span>
        </div>
        <nav id="menu-navegacao">
            <a href="#" class="link-menu">Início</a>
            <a href="#" class="link-menu">Sobre</a>
            <a href="#" class="link-menu">Contato</a>
        </nav>
    </header>

    <div id="container-principal">
        <div id="caixa-login">
            <h1 class="titulo-principal">Recuperar Senha</h1>
            
            <p class="descricao-formulario">
                Informe o e-mail cadastrado para receber as instruções de recuperação de senha.
            </p>

            <form id="formulario-recuperacao">
                <div class="campo-formulario">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="seu.email@exemplo.com" required>
                </div>
                
                <button type="submit" id="botao-enviar">Enviar Instruções</button>
                
                <div class="links-adicionais">
                    <a href="login.html" class="link-voltar-login">Voltar para o Login</a>
                </div>
            </form>
        </div>
    </div>

    <footer id="rodape">
        <div class="secao-rodape">
            <p>&copy; 2025 Doe Sangue Já. Todos os direitos reservados.</p>
        </div>
        <div class="secao-rodape">
            <a href="#" class="link-social">
                <!-- Ícone do Facebook -->
                <img src="../assets/img/logo-facebook.png" alt="">
            </a>
            <a href="#" class="link-social">
                <!-- Ícone do Instagram -->
                <img src="../assets/img/logo-instagram.png" alt="">
            </a>
            <a href="#" class="link-social">
                <!-- Ícone do Twitter -->
                <img src="../assets/img/logo-twitter.png" alt="">
            </a>
        </div>
        </div>
    </footer>
    <script src="../assets/script.js"></script>
</body>
</html>
