<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Doação de Sangue</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header id="cabecalho">
        <div class="logo">
            <img src="../assets/img/gota-de-sangue.png" class="gota-de-sangue">
            <span class="nome-site">Doe Sangue Já</span>
        </div>
        <nav id="menu-navegacao">
            <a href="index.html" class="link-menu">Início</a>
            <a href="#" class="link-menu">Sobre</a>
            <a href="#" class="link-menu">Contato</a>
        </nav>
    </header>
     <main>
        <div class="content-wrapper">
           <img src="../assets/img/gota-de-sangue.png" class="gota-de-sangue">
            <h2>Bem-vindo ao Doe Sangue Já</h2>
            <p>Sua doação de sangue pode salvar vidas. Cadastre-se agora e faça parte dessa corrente de solidariedade.</p>
            <div class="button-group">
                <a href="cadastro.html" class="btn btn-primary">Cadastrar-se</a>
                <a href="login.html" class="btn btn-outline">Fazer Login</a>
            </div>
        </div>
    </main>
        <footer id="rodape">
        <div class="secao-rodape">
            <p>&copy; 2025 Doe Sangue Já. Todos os direitos reservados.</p>
        </div>
        <div class="secao-rodape">
            <a href="#" class="link-social">
                <!-- Ícone do Facebook -->
                <img src="../assets/img/logo-facebook.png" alt="">
            </a>
            <a href="#" class="link-social">
                <!-- Ícone do Instagram -->
                <img src="../assets/img/logo-instagram.png" alt="">
            </a>
            <a href="#" class="link-social">
                <!-- Ícone do Twitter -->
                <img src="../assets/img/logo-twitter.png" alt="">
            </a>
        </div>
    </footer>
</body>
</html>
